.myclass1{
  background-color: greenyellow;
  color: red;
}

.myclass1{
  background-color: greenyellow;
  color: red;
}

.myclass2{
  background-color: rgb(31, 33, 48);
  color: rgb(245, 244, 244);
}

.myclass3{
  background-color: rgb(160, 71, 60);
  color: rgb(221, 216, 216);
}

.myclass4{
  background-color: rgb(47, 102, 255);
  color: red;
}
